body {
    margin: 0;
    padding: 0
}

.navbar {
    display: flex;
    align-items: center;
    height: 25px;
    padding: 10px;
    background-color: #505050;
}

.navbar ul {
    width: 100%;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.container {
    margin: 15px;
    padding: 10px;
    outline: 2px solid black;
    border-radius: 18px;
    max-width: 100%;
    max-height: 100vh;
}

.task-container {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.task-container div {
    align-items: center;
    display: flex;
}

.task-container div div {
    width: 55%;
}

.task-container div button {
    margin-left: 10px;
    max-width: 120px;
    max-height: 30px;
}