<nav>
    <li>
        <a href="/">Main</a>
    </li>
    <li>
        <a href="/hello">Hello</a>
    </li>
    <li>
        <a href="/about">About</a>
    </li>
    <li>
        <a href="/projects">Projects</a>
    </li>
    <li>
        <a href="#">tasks</a>
    </li>
</nav>
<h1>This is the page Tasks</h1>
    <ul>
        {% for task in tasks %}
            <li>{{ task.title }} - {{ task.project.name }} | {% if task.done %}Completada{% else %}Pendiente{% endif %}</li>
            <button>Completar</button>
        {% endfor %}
    </ul>